	.title{
		height: 50px;
		display: flex;
		flex-wrap: wrap;
		
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		margin-top: 50px;
	}
	ul{
		padding-left: 10px;
		list-style: none;
	}

	li{
		font-size: 2rem;
		display: inline;
		padding: .2em .2em;
		
	}

	#title11{
		width: 100%;
	}
	.div11{
		display: inline;
		margin-right: 10px;
	}



	#main1{
		color: black;
		background-color: white;
		padding-right: 30px;
		padding-left: 30px;
		text-align: center;
		border: 0.5px solid black;
	}

	#page{
		display: none;
		background-color: black;
		color: white;
		text-align: center;
		padding-right: 15px;
		padding-left: 15px;
	}


	#main{
		color: black;
		background-color: white;
		text-align: center;
		border: 0.5px solid black;
		height: 200px;
	}


	#main{
		width: 80%;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

	.supporting{
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		margin-top: 20px;
		margin-bottom: 20px;	
	}

	.supporting>div{
		color: black;
		background-color: white;
		text-align: center;
		border: 0.5px solid black;
		height: auto;
		display: inline;
		
	}


	#content1{
		width: 45%;
		color: black;
		float: left;
		background-color: white;
		border: 0.5px solid black;
		height: 100px;
		margin-top: 10px;
		margin-right: auto;
		margin-bottom: 10px;
	}	
	#content2{
		width: 45%;
		float: right;
		color: black;
		background-color: white;
		border: 0.5px solid black;
		height: 100px;
		margin-top: 10px;
		margin-left: auto;
		margin-bottom: 10px;
	}

	#content3{
		text-align: center;
		vertical-align:middle;
		width: 45%;
		color: black;
		float: left;
		background-color: white;
		border: 0.5px solid black;
		height: 100px;
		margin-top: 10px;
		margin-right: auto;
		margin-bottom: 50px;
		font-size: 3rem;
	}	
	#content4{
		text-align: center;
		vertical-align:middle;
		width: 45%;
		float: right;
		color: black;
		background-color: white;
		border: 0.5px solid black;
		height: 100px;
		margin-top: 10px;
		margin-left: auto;
		margin-bottom: 50px;
		font-size: 3rem;
	}



	#slogan{
		display: none;
	}




























@media screen and (min-width: 991px){
	
	.title{
		height: 50px;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		margin-left: auto;
		margin-right: auto;
		width: 991px;
		margin-top: 50px;
	}

	ul{
		padding-left: 10px;
		list-style: none;
	}

	li{
		font-size: 5rem;
		display: inline;
		padding: .2em .2em;
		
	}

	#title11{
		width: 991px;
	}
	.div11{
		display: inline;
		margin-right: 30px;
	}


	#main1{
		color: black;
		background-color: white;
		padding-right: 30px;
		padding-left: 30px;
		text-align: center;
		border: 0.5px solid black;
	}
	#page{
		display: inline;
		background-color: black;
		color: white;
		text-align: center;
		padding-right: 15px;
		padding-left: 15px;
	}

	#main{
		color: black;
		background-color: white;
		text-align: center;
		border: 0.5px solid black;
		height: 500px;
		width: 991px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
		position: relative;
	}

	#slogan{
		display: block;
		text-align: center;
		bottom:50px;
		width:50%;
		height:10%;
		color: white;
		background-color: black;
		padding: 10px;
		position: absolute;

	}

	#content1{
		display: none;
	}

	#content2{
		display: none;
	}

	#content3{
		display: none;
	}

	#content4{
		display: none;
	}

	
}
